:root {
    --background-color: linear-gradient(90deg, rgba(164, 170, 247, 1) 0%, rgba(171, 212, 247, 1) 58%, rgba(164, 170, 247, 1) 100%);
}

body {
    background: var(--background-color);
}

.weather-header {
    background: var(--background-color);
    border-bottom: 3px solid black;
}

.weather-header h1 {
    color: black;
}

#search-input {
    padding: 3px;
    margin-bottom: 3px;
}

#clearHistory {
    font-weight: bold;
    display: none;
    color: red;
}

#clearHistory:hover {
    background-color: red;
    color: black;
}

.historyButton {
    margin-bottom: 5px;
}

#today img {
    height: 2em;
    margin-left: -10px;
    margin-top: -10px;
}

#today p {
    font-size: 1.3em;
}

#forecast div {
    margin: auto;
    padding: 5px;
    border: 1px solid black;
}

#forecast div:hover {
    background-color: #abebf7;
    font-weight: bold
}

#forecast img {
    height: 4em;
    margin-top: -1em;
}

#forecast {
    margin: 0px;
}